* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #0f172a;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
